body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: beige;
}
  
.actions-zone {
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  gap: 14px;
} 

.my-accounts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 14px;
}

.my-account {
  flex: 1 1 300px;
  min-width: 300px;
  border-radius: 0;
  box-shadow: none;
  margin-top: 14px;
}

.my-button {
  border-radius: 0 !important;
}

.MuiDialog-paper { 
  border-radius: 0 !important;
}